<!DOCTYPE html>
<html data-ng-app="blog">
<head>
<script src="app/scripts/angular.min.js"></script>
<script src="app/scripts/angular-recaptcha.min.js"></script>
<script src="app/scripts/angular-route.min.js"></script>
<script src="app/scripts/angular-ui-router.min.js"></script>
<script src="app/scripts/angular-resource.min.js"></script>
<script src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit" async defer></script>
<script src="app/scripts/script.js"></script>
</head>
<body>
	<div data-ng-controller="recapCtrl as recap">
		<form name="recap.signupForm" data-ng-submit="recap.signup()">
			<div class="form-group">
				<label>Name</label> <input type="text" class="form-control"
					data-ng-model="recap.name" placeholder="Enter Name" required>
			</div>
			<div class="form-group">
				<label>Password</label> <input type="password" class="form-control"
					data-ng-model="recap.password" placeholder="Password" required>
			</div>

			<button type="submit" class="btn btn-default">Submit</button>

			<!-- <div tabindex="3" theme="clean" vc-recaptcha key="'6LdA5AkUAAAAAIl0QhXfv-cn91JYSiXtJ90mrc4J'"></div> -->
			<div class="g-recaptcha" theme="clean" vc-recaptcha key="'6LdA5AkUAAAAAIl0QhXfv-cn91JYSiXtJ90mrc4J'"></div>
		</form>
	</div>

	<!-- <script
		src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.js"></script> -->
	<script src="app/scripts/angular-recaptcha.min.js"></script>
	<script src="app/scripts/angular-route.min.js"></script>
	<script src="app/scripts/angular-resource.min.js"></script>

</body>
</html>